$image-filter:"/styles/assets/images/Icon-_Filter.svg";
$image-refresh:"/styles/assets/images/Icon-_Refresh.svg";
$image-maximize:"/styles/assets/images/Icons-For-SolarPulse-29122015_Expand.svg";
$image-minimize:"/styles/assets/images/Icons-For-SolarPulse-29122015_Contract.svg";
$image-flip-1:"/styles/assets/images/Icons-For-SolarPulse-29122015_Flip_1.svg";
$image-flip-2:"/styles/assets/images/Icons-For-SolarPulse-29122015_Flip_2.svg";
$image-download:"/styles/assets/images/Icons-For-SolarPulse-29122015_Download-Export-2.svg";
$image-filter-dots:"/styles/assets/images/IconsForSolarPulse-29122015_Menu-Setting.svg";
//Top Widget Icons
$image-weather-station:"../styles/assets/images/Weather Station.svg";
$image-active-power:"../styles/assets/images/Power.svg";
$image-performance-ratio:"../styles/assets/images/Preformance Ratio.svg";
$image-plant-availability:"../styles/assets/images/Site-Plant.svg";
$image-today-co2-reduced:"../styles/assets/images/Todays CO2.svg";
$image-total-co2-reduced:"../styles/assets/images/Total CO2.svg";
$image-ambient-temp:"../styles/assets/images/Ambient TEMP.svg";
$image-module-temp:"../styles/assets/images/Module TEMP.svg";
$image-total-capacity:"../styles/assets/images/Tatal Capacity.svg";
$image-today-e-gen:"../styles/assets/images/Todays Energy Generation.svg";
$image-wind-speed:"../styles/assets/images/Wind Direction.svg";
$image-wind-direction:"../styles/assets/images/Wind Speed.svg";
$image-wind-dir:"../styles/assets/images/wind_dir.svg";
$image-zone:"../styles/assets/images/Zone.svg";
$image-alarm:"../styles/assets/images/Alarms.svg";
$image-peak-power:"../styles/assets/images/Todays Peak Power.svg";
$image-CUF:"../styles/assets/images/CUF.svg";
$image-rainfall:"/styles/assets/images/V4__ DEC 2015_Rainfall.svg";
//menu icons
$image-dashboard:"../styles/assets/images/MenuIcons/dashboard.png";
$tech-dashboard:"../styles/assets/images/MenuIcons/tech.png";
$soiling:"../styles/assets/images/MenuIcons/soiling.png";
$tracker-dashboard:"../styles/assets/images/MenuIcons/tracker.png";
$image-om:"../styles/assets/images/MenuIcons/om.png";
$image-analytics:"../styles/assets/images/MenuIcons/analytics.png";
$image-report:"../styles/assets/images/Reports-01.svg";
$image-admin:"../styles/assets/images/MenuIcons/admin.png";
$sld:"../styles/assets/images/MenuIcons/sld.png";
$image-support:"../styles/assets/images/MenuIcons/support.png";
$image-headwarning:"../styles/assets/images/MenuIcons/warnings.png";
$image-headalarms:"../styles/assets/images/MenuIcons/alarm.png";
$image-headmessages:"../styles/assets/images/MenuIcons/msgs.png";
$image-headlogo:"../styles/assets/images/solar-logos/solarlogowhite.svg";
$image-userimg:"../styles/assets/images/MenuIcons/user.png";
$image-global:"../styles/assets/images/MenuIcons/GlobalDashboard.svg";
$image-alarms:"../styles/assets/images/MenuIcons/Alarms.svg";
$image-inverter:"../styles/assets/images/MenuIcons/Inverter.svg";
// Alarm page icons
$image-alarm-location:"/styles/assets/images/Alarms Icon_location2.png";
$image-alarm-icon:"/styles/assets/images/alarm.png";
$image-warning-icon:"/styles/assets/images/warning.png";
$image-notification-icon:"/styles/assets/images/notification.png";
$image-info-open-icon:"/styles/assets/images/alarm-open.png";
$image-info-close-icon:"/styles/assets/images/alarm-close.png";
$image-comment-send-icon:"/styles/assets/images/Alarms_Icon_Send_MSG.png";
$image-comment-delete-icon:"/styles/assets/images/Alarms_Icon_Back_MSG.png";
$image-download-icon-close:"/styles/assets/images/Download.svg";
$image-download-icon-open:"/styles/assets/images/Alarms Icon_save_open.png";
$image-download-icon:"/styles/assets/images/Alarms_Icon_Custom report.png";
$image-export-pdf-icon:"/styles/assets/images/Save-as-PDF.png";
$image-export-csv-icon:"/styles/assets/images/Save-as-CSV.png";
$image-export-word-icon:"/styles/assets/images/Save-as-WORD.png";
$image-export-xls-icon:"/styles/assets/images/Save-as-XLS.png";
//loading icons
$image-loading-spinner:"/styles/assets/images/482.GIF";
//globaldashboardicons
$image-icon-red:"../styles/assets/images/globalicons/iconred.svg";
$image-icon-green:"../styles/assets/images/globalicons/icongreen.svg";
$image-icon-purple:"../styles/assets/images/globalicons/iconpurple.svg";
$image-icon-yellow:"../styles/assets/images/globalicons/iconyellow.svg";
$image-icon-grey:"../styles/assets/images/globalicons/icongrey.svg";
$image-icon-marker:"../styles/assets/images/globalicons/marker.svg";
//submenu
$image-icon-submenu:"../styles/assets/images/submenu/submenu1.svg";
//trackericons
$image-icon-one:"../styles/assets/images/tracker/TP_-01.png";
$image-icon-two:"../styles/assets/images/tracker/TP_-02.png";
$image-icon-three:"../styles/assets/images/tracker/TP_-03.png";
$image-icon-four:"../styles/assets/images/tracker/TP_-04.png";
$image-icon-five:"../styles/assets/images/tracker/TP_-05.png";
$image-icon-six:"../styles/assets/images/tracker/TP_-06.png";
$image-icon-seven:"../styles/assets/images/tracker/TP_-07.png";
$image-icon-eight:"../styles/assets/images/tracker/TP_-08.png";
//latest icons
$image-latest-max:"../styles/assets/images/trendspage/latest-icon/Maximize_Icon.png";
$image-latest-min:"../styles/assets/images/trendspage/latest-icon/Minimize_Icon.png";
$image-latest-settings:"../styles/assets/images/trendspage/latest-icon/Settings_Icon.png";
$image-latest-cal:"../styles/assets/images/trendspage/latest-icon/Calendar_Icon.png";
$image-latest-download:"../styles/assets/images/trendspage/latest-icon/Download_Icon.png";
$image-settings-01:"../styles/assets/images/trendspage/latest-icon/Settings_Icon.png";
//menudropdown
$image-drop-menu:"../styles/assets/images/trendspage/PNG/Trends_Icons_Expand.png"
