
$base-font-family: 'Roboto Condensed';
$base-font-size: 18px;
$base-font-weight: 300;
$text-color: #333;

$widget-font-size:25px;
$widget-font-color:#434343;
$widget-height:76px;
$widget-header-font:11pt;
$widget-header-height:21px;
$widget-body-height:55px;
$widget-header-color:#ffffff;
$widget-border-color:#ddd;


$panel-border-color:#DDD;
$font-roboto-bold:"Roboto-Bold";
$font-panel-header:13pt;
$color-panel-header:#434343;
$font-roboto-medium:"Roboto-Medium";


$font-size-22pt:22pt;
$font-size-9pt:9pt;
$font-size-13pt:13pt;
$font-size-12pt:12pt;
$font-size-11pt:11pt;
$font-size-10pt:10pt;
$font-size-8pt:8pt;

$color-primary-blue:#DFEFFF;
$color-secondary-blue:#F1F8FF;
$color-tertiary-blue:#D4E8FF;
$color-white:#FFFFFF;
$color-table-header-back:#26A4DE;
$color-table-body-dark:#C5E3FF;
$color-table-body-light:#E6F2FF;
$color-table-body-grey:#F8F8F8;
$color-content:#50505a;
$color-grey:#DDDDDD;
$color-purple:#156294;
/*ResponsiveBreakpoints*/

$breakpoint-small:1024px;
$breakpoint-large:1279px;
$breakpoint-laptop12:1280px;
$breakpoint-laptop13:1366px;

//headervariables
$headerbgcolor:#156394;
$navigationgbgcolor:#DBE9F2;
$navhovercolor:#26a4de;
$menuiconsize:30px;
