@import "./../helpers/variables";
@import "./../helpers/mixins";
@import "./../helpers/helpers";

#performanceRatio {
.c3-axis-x path {
  display: none;
}
 .c3-axis-x .tick{
fill:#676767
}
}

#cuf {.c3-axis-x path {
  display: none;
}
 .c3-axis-x .tick{
fill:#676767
}
}

#revenue{ .c3-axis-x path {
  display: none;
}
 .c3-axis-x .tick{
fill:#676767
}
}
.c3 text {
  font-family: roboto-medium;
}

//classes(generic) for panels
.row1panel {
  height: 130px;
}

.row2panel {
  height: 163px
}

.row3panel {
  height: 163px;
    overflow:hidden;
    }


.row3panelalarm {
  height: 163px;
  overflow-y: auto;
}

.rowbigpanelleft {
  height: 368px;
      overflow:hidden;
}

.mypaneltitlesub {
  font-size: $font-size-9pt;
  Font-family: $font-roboto-medium;
  color: #1f1f1f;
}

.mypaneltitle {
  color: #1f1f1f;
  font-family: $font-roboto-medium;
  font-size: $font-size-11pt;
}

.breadcrumb {
  margin-bottom: 0px;
}


.sidetext {
  font-size: 28px;
  font-family: $font-roboto-medium;
  color: #434343;
}

.sidetext-sub {
  font-size: 18px;
  font-family: $font-roboto-medium;
  color: #434343;
}

.sidetextbelow {
  font-size: 10px;
  font-family: $font-roboto-medium;
  color: #156294;
}

@media all and (max-width:1024px){

.mypaneltitlesub {
  font-size: $font-size-8pt;
  Font-family: $font-roboto-medium;
  color: #1f1f1f;
}

.mypaneltitle {
  color: #1f1f1f;
  font-family: $font-roboto-medium;
  font-size: $font-size-9pt;
}
}

@media all and (min-width:1300px)and(max-width:1367px)
{
   body .losstext{
    font-size:10px;
        color:gray;
        font-family:roboto-medium;
        margin-left:5vw;

    }
}
@media all and (min-width:1200px)and(max-width:1280px)
{
 body .losstext{
    font-size:10px;
        color:gray;
        font-family:roboto-medium;
        margin-left:4.2vw;

    }
}

@media all and (min-width:1368px)
{
 body .losstext{
    font-size:10px;
        color:gray;
        font-family:roboto-medium;
        margin-left:6vw;

    }
}

//media queries for height starts here
@media all and (min-height: 656px) and(max-height: 720px) {

  body .row1panel {
    height: 19vh;
  }

  body .row2panel {
    height: 26vh;
  }

  body .row3panel {
    height: 26vh;
        overflow:hidden;
  }
  body .row3panelalarm {
    height: 26vh;
    overflow-y: auto;
  }

  body .rowbigpanelleft {
    height: 57.8vh;
        overflow:hidden;
  }
}

@media all and (min-height: 721px) and(max-height: 768px) {

  body .row1panel {
    height: 20vh;
  }

  body .row2panel {
    height: 27vh;
  }

  body .row3panel {
    height: 27vh;
        overflow:hidden;
  }
  .rowbigpanelleft {
    height: 59.4vh;
        overflow:hidden;
  }
  body .row3panelalarm {
    height: 27vh;
    overflow-y: auto;
  }
}

@media all and (min-height: 769px) and(max-height: 800px) {

  body .row1panel {
    height: 20vh;
  }

  body .row2panel {
    height: 27vh;
  }

  body .row3panel {
    height: 27vh;
        overflow:hidden;
  }
  body .row3panelalarm {
    height: 27vh;
    overflow-y: auto;
  }
  .rowbigpanelleft {
    height: 59.3vh;
        overflow:hidden;
  }
}

@media all and (min-height: 801px) and(max-height: 900px) {

  body .row1panel {
    height: 20vh;
  }

  body .row2panel {
    height: 28vh;
  }

  body .row3panel {
    height: 27vh;
  }
  body .row3panelalarm {
    height: 27vh;
    overflow-y: auto;
  }
  .rowbigpanelleft {
    height: 60.2vh;
  }
}

@media all and (min-height: 900px) {

  body .row1panel {
    height: 19vh;
  }

  body .row2panel {
    height: 30vh;
  }

  body .row3panel {
    height: 30vh;
        overflow:hidden;
  }
  .rowbigpanelleft {
    height: 63vh;
        overflow:hidden;
  }
  body .row3panelalarm {
    height: 29vh;
    overflow-y: auto;
  }
}


//media queries for sidetext in top charts
@media all and (min-width:768px) and(max-width:1025px){
 body .sidetext{
    font-size:14px;
        font-family:$font-roboto-medium;
        color:#434343;
    }
    body .sidetext-sub{
    font-size:10px;
        font-family:$font-roboto-medium;
        color:#434343;
    }
    body .sidetextbelow{
    font-size:7px;
         font-family:$font-roboto-medium;
        color:#156294;
    }
}


@media all and (min-width: 1026px) and(max-width: 1279px) {
  body .sidetext {
    font-size: 20px;
    font-family: $font-roboto-medium;
    color: #434343;
  }
  body .sidetext-sub {
    font-size: 13px;
    font-family: $font-roboto-medium;
    color: #434343;
  }
  body .sidetextbelow {
    font-size: 8px;
    font-family: $font-roboto-medium;
    color: #156294;
  }

}

@media all and (min-width: 1280px) and(max-width: 1366px) {
  body .sidetext {
    font-size: 20px;
    font-family: $font-roboto-medium;
    color: #434343;
  }
  body .sidetext-sub {
    font-size: 14px;
    font-family: $font-roboto-medium;
    color: #434343;
  }
  body .sidetextbelow {
    font-size: 9px;
    font-family: $font-roboto-medium;
    color: #156294;
  }
  .plant-map-container {
    height: 45% !important;
  }

  .distributed.plant-map-container{
    height: 70% !important;
  }

  #devicestatus {
    height: 25% !important;
  }
}


@media all and (min-width: 1367px) {
  body .sidetext {
    font-size: 30px;
    font-family: $font-roboto-medium;
    color: #434343;
  }
  body .sidetext-sub {
    font-size: 15px;
    font-family: $font-roboto-medium;
    color: #434343;
  }
  body .sidetextbelow {
    font-size: 12px;

    font-family: $font-roboto-medium;
    color: #156294;
  }

  body .panel-body {
    .fa.fa-caret-up, .fa.fa-caret-down {
      font-size: 30px !important;
      vertical-align: sub;
    }
  }

}

#actIrr #chartacpIrr {

  .c3-axis-y2 {

    .c3-axis-y2-label {
      fill: #DD4C90;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

    .tick {
      fill: #DD4C90;
      font-family: Roboto-Medium;
      font-size: 12px;
    }
  }

  .c3-axis-y {

    .c3-axis-y-label {
      fill: #24b1e5;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

    .tick {
      fill: #24b1e5;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

  }

  .c3-axis-x {

    .c3-axis-x-label {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

    .tick {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

  }

}

#genAnalysis {


  .c3-axis-y {

    .c3-axis-y-label {
      fill: #5e7e0f;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

    .tick {
      fill: #5e7e0f;
      font-family: Roboto-Medium;
      font-size: 12px;
    }
  }

  .c3-axis-x {

    .c3-axis-x-label {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

    .tick {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

  }

}

#devicestatus {

  .c3-axis-y{
    display: none;
  }

  .c3-axis-x{
    display: none;
  }
}

#execLossAnalysis {
  .flip-indicators {
    right:0 !important;
    bottom: 4% !important;
    left: 90% !important;
  }
}

.green {
  color:#399A29;
}

.red {
  color:#ED3143
}

#chartacpIrr .c3-legend-background{
  display:none;
}
#chartpr .c3-legend-background{
  display:none;
}
    .c3-target-Expected {
   opacity: 0 !important;
}
    #execPA .c3-axis-x path {
  display: none;
}
 #execPA .c3-axis-x .tick{
fill:#676767
}

#execLossAnalysis .c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1em;
}
#newexecpanelrow2 .c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1em;
}
    .c3-grid .c3-xgrid-focus {
   visibility : hidden !important;
}
#exec-top-pr .c3-event-rect {
    cursor:pointer;
}
#execCu .c3-event-rect {
    cursor:pointer;
}
#execReven .c3-event-rect {
    cursor:pointer;
}
#execAvail .c3-event-rect {
    cursor:pointer;
}
#genAnalysis .c3-event-rect {
    cursor:pointer;
}
