body #singlepanel1 .row1panel {
  height: 18vh;
}

body #singlepanel2 .row2panel {
  height: 23vh;
}

body #singlepanel3 .row3panel {
  height: 23vh;
  overflow: hidden;
}

@media all and (min-height: 656px) and(max-height: 720px) {

  body #singlepanel1 .row1panel {
    height: 18vh;
  }

  body #singlepanel2 .row2panel {
    height: 24vh;
  }

  body #singlepanel3 .row3panel {
    height: 23vh;
    overflow: hidden;
  }

}

@media all and (min-height: 721px) and(max-height: 768px) {

  body #singlepanel1 .row1panel {
    height: 19vh;
  }

  body #singlepanel2 .row2panel {
    height: 25vh;
  }

  body #singlepanel3 .row3panel {
    height: 24vh;
    overflow: hidden;
  }

}

@media all and (min-height: 769px) and(max-height: 800px) {

  body #singlepanel1 .row1panel {
    height: 19vh;
  }

  body #singlepanel2 .row2panel {
    height: 25vh;
  }

  body #singlepanel3 .row3panel {
    height: 24vh;
    overflow: hidden;
  }

}

@media all and (min-height: 801px) and(max-height: 900px) {

  body #singlepanel1 .row1panel {
    height: 19vh;
  }

  body #singlepanel2 .row2panel {
    height: 26vh;
  }

  body #singlepanel3 .row3panel {
    height: 24vh;
  }

}

@media all and (min-height: 900px) {

  body #singlepanel1 .row1panel {
    height: 18vh;
  }

  body #singlepanel2 .row2panel {
    height: 28vh;
  }

  body #singlepanel3 .row3panel {
    height: 27vh;
    overflow: hidden;
  }

}

#singleACDC {

  .c3-axis-y2 {

    .c3-axis-y2-label {
      fill: #236ee0;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

    .tick {
      fill: #236ee0;
      font-family: Roboto-Medium;
      font-size: 12px;
    }
  }

  .c3-axis-y {

    .c3-axis-y-label {
      fill: #434343;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

    .tick {
      fill: #434343;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

  }

  .c3-axis-x {

    .c3-axis-x-label {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

    .tick {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

  }

}

#singleTemperature {

  .c3-axis-y {

    .c3-axis-y-label {
      fill: #434343;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

    .tick {
      fill: #434343;
      font-family: Roboto-Medium;
      font-size: 12px;
    }

  }

  .c3-axis-x {

    .c3-axis-x-label {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

    .tick {
      fill: #676767;
      font-family: Roboto-Regular;
      font-size: 12px;
    }

  }

}