<html>


<body>

    <h2> All Maintenace Module Ui goes here</h2>

    <h3> We use angular ui router for routing between pages on the ui and access the logged in user via the user sent to the client over the json while rendering the page</h3>


</body>



</html>