<div style="float: left; width: 50%; margin-top: 10px;" class="form-control">
  <ul>
    <h2>Device Names</h2>
    <a href="#/device-name">
      <li *ngFor="let obj of obj_all"
          [class.selected]="obj === selectedObj">
        <span class="badge" (click)="onSelect(obj)"> {{obj.name}} </span>
        <!--<mat-icon (click)="remove(obj._id)">delete</mat-icon>-->
      </li>
    </a>
  </ul>

  <div *ngIf="selectedObj" class="form-control">
    <h2>Edit</h2>
    <input [(ngModel)]="selectedObj.name" class="form-control" placeholder="Name">
    <input type="button" value="Submit" class="form-control btn-dark" (click)="update()">
  </div>
</div>

<div style="float: right !important; width: 50%; margin-top: 10px;">
  <div *ngIf="selectedObj" class="form-control">
    <h2>{{ selectedObj.name | uppercase }} Details</h2>
    <div><span>Id: </span>{{selectedObj._id}}</div>
    <div><span>Name: </span>{{selectedObj.name}}</div>
  </div>

  <div class="form-control">
    <h2>Add</h2>
    <input class="form-control" [(ngModel)]="obj.name" placeholder="Name">
    <input type="button" value="Submit" class="form-control btn-dark" (click)="insert()">
  </div>
</div>
