

html * {
    outline: none !important;
}
html,
body {
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background: #ffffff;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #656d78;
/*    overflow-x: hidden;*/
    overflow-x: hidden;
}
.body-full-height {
    height: 100%;
}
.body-full-height body {
    height: 100%;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.row [class^='col-xs-'],
.row [class^='col-sm-'],
.row [class^='col-md-'],
.row [class^='col-lg-'] {
    min-height: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
.row.stacked [class^='col-xs-'],
.row.stacked [class^='col-sm-'],
.row.stacked [class^='col-md-'],
.row.stacked [class^='col-lg-'] {
    padding-left: 0px;
    padding-right: 0px;
}
/* PAGE CONTAINER */



.page-container {
    width: 100%;
    float: left;
    min-height: 100%;
    position: relative;
    background: #DBE9F2;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    /* SIDEBAR */
    /* END SIDEBAR */
    /* CONTENT */
    /* END CONTENT */
    /* RTL CONTENT MODE */
    /* END RTL CONTENT MODE */
}
.page-container .page-sidebar {
    width: 205px;
    float: left;
    position: relative;
    z-index: 3;
}
.page-container .page-sidebar.page-sidebar-fixed {
    position: fixed;
}
.page-container.page-container-wide .page-sidebar {
    width: 50px;
}
.page-container .page-content {
    min-height: 100%;
    margin-left: 225px;
    background: #ffffff  left top repeat;
    position: relative;
    zoom: 1;
    transition: 1s all ease;
}

.page-container .page-content:before,
.page-container .page-content:after {
    content: "";
    display: table;
}
.page-container .page-content:after {
    clear: both;
}
.page-container .page-content .page-content-wrap {
    float: left;
    width: 100%;
    padding: 0;
}





.page-container .page-content2:before,
.page-container .page-content2:after {
    content: "";
    display: table;
}
.page-container .page-content2:after {
    clear: both;
}
.page-container .page-content2 .page-content-wrap {
    float: left;
    width: 100%;
    padding: 0;
}













.page-container.page-container-wide .page-content {
    margin-left: 50px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.page-container.page-navigation-toggled .page-content,
.page-container.page-navigation-toggled-hover .page-content {
    margin-left: 50px;
}
.page-container.page-navigation-top .page-content {
    margin-left: 0px;
}
.page-container.page-navigation-top .page-content-header {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.page-container.page-navigation-top-fixed .x-navigation.x-navigation-horizontal {
    position: fixed;
    padding-right: 220px;
    top: 0px;
}
.page-container.page-navigation-top-fixed .page-content {
    padding-top: 50px;
}
.page-container.page-navigation-top-fixed.page-navigation-toggled .x-navigation.x-navigation-horizontal {
    padding-right: 50px;
}
.page-container.page-navigation-toggled-hover .page-sidebar {
    position: absolute;
    background: #33414e;
    min-height: 100%;
}

/* END PAGE CONTAINER */
/* NAVIGATION */
.x-navigation,
.x-navigation ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
    list-style: none;
    display: block;
    z-index: 3;
}
.x-navigation {
    background: #DBE9F2;
    height:36px;   /*hs*/
    /* NAV LIST ELEMENT */
    /* END NAV LIST ELEMENT */
    /* NAV LIST FIRST ELEMENT */
    /* END NAV LIST FIRST ELEMENT */
    /* NAV HORIZONTAL MODE */
    /* END NAV HORIZONTAL MODE */
    /* NAV MINIMIZED MODE */
    /* END NAV MINIMIZED MODE */
    /* X-NAVIIGATION CUSTOM */
    /* END X-NAVIGATION CUSTOM */
    /* NAV SEARCH */
    /* END NAV SEARCH */
    /* NAV INFORMER */
    /* END NAV INFORMER */
}
.x-navigation li {
    float: left;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}
.x-navigation li > a {
    display: block;
    float: left;
    width: 100%;
    line-height: 19px;
    color: #434343;
    font-size: 13px;
    font-weight: 400;
    padding: 8px 10px 8px 15px;
    text-decoration: none;
    border-bottom: 1px solid #C6D2DB;
    vertical-align: text-bottom;

}
.x-navigation li > a .fa{
    color: #434343;
    text-align: center;
    width: 20px;
    font-size: 14px;
    margin-right: 10px;
    vertical-align: baseline;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}
.top-header.x-navigation li > a .fa{
    color: #A9C9DF;
    text-align: center;
    width: 20px;
    font-size: 14px;
    margin-right: 10px;
    vertical-align: baseline;
    -webkit-transition: color 200ms ease;
    -moz-transition: color 200ms ease;
    -ms-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
}
.x-navigation li > a:hover {
    background: #00A8E9;
    color: #ffffff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.x-navigation li > a:hover .fa{
    color: #ffffff;
}
.x-navigation li > ul {
    background: #273541;
    max-height: 0px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    overflow: hidden;
}
.x-navigation li > ul li > a {
    color: #434343;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    padding: 8px 10px;
    border-bottom-color: #C6D2DB;
}
.x-navigation li > ul li > a:hover {
    background: #23303b;
    color: #ffffff;
}
.x-navigation li > ul li.active > a {
    background: #23303b;
    color: #ffffff;
}
.x-navigation li.xn-openable:before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f107";
    font-size: 14px;
    width: 20px;
    height: 20px;
    color: #ffffff;
    right: 0px;
    top: 12px;
    cursor: pointer;
}
.x-navigation li.xn-openable > .informer {
    right: 25px;
}
.x-navigation li.active.xn-openable:before {
    content: "\f106";
}
.x-navigation li.active > a {
    background: #00A8E9;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.x-navigation li.active > a .fa,
{
    color: #ffd559;
}
.x-navigation li.active > ul {
    max-height: 1200px;
}
.x-navigation li.active > ul > li{
    background: #F8F8F8;
    color: #55545A;
    font-weight: 600;
}

.x-navigation li.xn-title {
    padding: 20px 10px 10px;
    line-height: 20px;
    font-weight: 300;
    font-size: 13px;
    color: #999;
    border-bottom: 1px solid #2f3c48;
}
.x-navigation > li > a.x-navigation-control {
    background: #e34724;
}
.x-navigation > li.xn-openable:before {
    top: 5px;
}
.x-navigation > li > ul > li > a {
    padding-left: 25px;
}
.x-navigation > li > ul > li > a:hover {
    padding-left: 30px;
    background: #00A8E9;
    color: #ffffff;
}
.x-navigation > li > ul > li.active > a {
    padding-left: 30px;
}
.x-navigation > li > ul > li > ul > li > a {
    padding-left: 40px;
}
.x-navigation > li > ul > li > ul > li > a:hover {
    padding-left: 45px;
}
.x-navigation > li > ul > li > ul > li.active > a {
    padding-left: 45px;
}
.x-navigation > li > ul > li > ul > li > ul > li > a {
    padding-left: 50px;
}
.x-navigation > li > ul > li > ul > li > ul > li > a:hover {
    padding-left: 55px;
}
.x-navigation > li > ul > li > ul > li > ul > li.active > a {
    padding-left: 55px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li > a {
    padding-left: 60px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li > a:hover {
    padding-left: 65px;
}
.x-navigation > li > ul > li > ul > li > ul > li > ul > li.active > a {
    padding-left: 65px;
}

.x-navigation.x-navigation-horizontal {
    height: 40px;
    background: #156394;
}
.x-navigation.x-navigation-horizontal .xn-logo a {
    border-bottom: 0px;
    width: 200px;
}
.x-navigation.x-navigation-horizontal > li.xn-openable:before {
    display: none;
}
.x-navigation.x-navigation-horizontal > li > a {
    padding: 15px;
    border-bottom: 0px;
    line-height: 20px;
    color: #ffffff;
    text-shadow: none;
}
.x-navigation.x-navigation-horizontal > li > a:hover {
    background: #3d4e5d;
}
.x-navigation.x-navigation-horizontal > li > a:hover .fa,
{
    color: #ffd559;
}
.x-navigation.x-navigation-horizontal > li > a .fa,
{
    color: #ffffff;
}
.x-navigation.x-navigation-horizontal > li.active > a {
    background: #3d4e5d;
}
.x-navigation.x-navigation-horizontal > li.active > a .fa,
{
    color: #ffd559;
}
.x-navigation.x-navigation-horizontal > li ul {
    width: 220px;
    position: absolute;
    overflow: visible;
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.x-navigation.x-navigation-horizontal > li ul ul.xn-drop-white:after {
    border-right-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul {
    top: 60px;
    left: 0px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-white:after {
    border-bottom-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left {
    left: auto;
    right: 0px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left.xn-drop-white ul:after {
    border-left-color: #FFF;
}
.x-navigation.x-navigation-horizontal > li > ul:after {
    bottom: 100%;
    left: 27px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #33414e;
    border-width: 5px;
    margin-left: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after {
    right: 20px;
    left: auto;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after ul {
    left: auto;
    right: 230px;
}
.x-navigation.x-navigation-horizontal > li > ul.xn-drop-left:after ul:after {
    right: auto;
    left: 100%;
    border: solid transparent;
    border-left-color: #33414e;
    border-width: 5px;
    margin-right: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul ul {
    top: 0px;
    right: -230px;
}
.x-navigation.x-navigation-horizontal > li > ul ul:after {
    right: 100%;
    top: 23px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #33414e;
    border-width: 5px;
    margin-top: -5px;
}
.x-navigation.x-navigation-horizontal > li > ul li > a {
    padding-left: 10px;
}
.x-navigation.x-navigation-horizontal > li > ul li > a:hover {
    padding-left: 15px;
}
.x-navigation.x-navigation-horizontal > li > ul li.active > a {
    padding-left: 15px;
}
.x-navigation.x-navigation-horizontal > li li {
    width: 100%;
}
.x-navigation.x-navigation-horizontal > li li:first-child a {
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.x-navigation.x-navigation-horizontal > li li:last-child a {
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    border-bottom-color: transparent;
}
.x-navigation.x-navigation-horizontal > li li.xn-openable:before {
    content: "\f105";
}
.x-navigation.x-navigation-horizontal > li li.active.xn-openable:before {
    content: "\f104";
}
.x-navigation.x-navigation-horizontal > li:last-child > a {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.x-navigation.x-navigation-horizontal > li.last > a {
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}
.x-navigation.x-navigation-horizontal li {
    width: auto;
    position: relative;
}
.x-navigation.x-navigation-horizontal li.active > ul {
    display: block;
}
.x-navigation.x-navigation-horizontal li.xn-openable > a {
    padding-right: 20px;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white {
    background: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white ul {
    background: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white ul:after {
    border-right-color: #FFF;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a {
    color: #333;
    text-shadow: none;
    border-bottom: 1px solid #E9E9E9;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a:hover {
    background: #F5F5F5;
    color: #333;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li > a .fa,
{
    color: #33414e;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li.active > a {
    color: #333;
    text-shadow: none;
    border-bottom: 1px solid #E9E9E9;
}
.x-navigation.x-navigation-horizontal ul.xn-drop-white li.active.xn-openable:before {
    color: #333;
}
.x-navigation.x-navigation-horizontal .xn-icon-button > a {
    padding: 10px 10px;
    text-align: center;
    width: 50px;
}
.x-navigation.x-navigation-horizontal .xn-icon-button > a .fa,
{
    margin: 0px;
}

.x-navigation.x-navigation-minimized {
    width: 50px;
}
.x-navigation.x-navigation-minimized .xn-text {
    display: none;
}
.x-navigation.x-navigation-minimized .xn-visible {
    display: block;
}
.x-navigation.x-navigation-minimized li {
    width: auto;
    position: relative;
}
.x-navigation.x-navigation-minimized li.xn-profile .profile-mini {
    display: block;
}
.x-navigation.x-navigation-minimized li.xn-profile .profile:after {
    right: 100%;
    top: 23px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #33414e;
    border-width: 5px;
    margin-top: -5px;
}
.x-navigation.x-navigation-minimized li.xn-title {
    display: none;
}
.x-navigation.x-navigation-minimized li.active > ul {
    display: block;
}
.x-navigation.x-navigation-minimized li ul {
    top: 0px;
    right: -230px;
    -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.x-navigation.x-navigation-minimized li ul:after {
    right: 100%;
    top: 23px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #33414e;
    border-width: 5px;
    margin-top: -5px;
}
.x-navigation.x-navigation-minimized li ul li > a {
    padding-left: 15px !important;
}
.x-navigation.x-navigation-minimized li ul li > a:hover {
    padding-left: 20px !important;
}
.x-navigation.x-navigation-minimized li ul li.active > a {
    padding-left: 20px !important;
}
.x-navigation.x-navigation-minimized li ul li:first-child > a {
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.x-navigation.x-navigation-minimized li ul li:last-child > a {
    border-bottom: 0px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}
.x-navigation.x-navigation-minimized > li {
    width: 100%;
}
.x-navigation.x-navigation-minimized > li > a {
    padding: 15px 10px;
    text-align: center;
}
.x-navigation.x-navigation-minimized > li > a .fa,
{
    margin: 0px;
}
.x-navigation.x-navigation-minimized > li ul {
    width: 220px;
    position: absolute;
    overflow: visible;
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.x-navigation.x-navigation-minimized > li li {
    width: 100%;
}
.x-navigation.x-navigation-minimized > li li.xn-openable:before {
    content: "\f105";
}
.x-navigation.x-navigation-minimized > li li.active.xn-openable:before {
    content: "\f104";
}
.x-navigation.x-navigation-minimized > li.active:before,
.x-navigation.x-navigation-minimized > li.xn-openable:before {
    display: none;
}
.x-navigation.x-navigation-minimized > li.xn-logo > a:first-child {
    padding: 0px;
    width: 50px;
    background-image: url("/styles/assets/images/solar-logos/sp2.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: -1px;
    background-size: 50px;
}
.x-navigation.x-navigation-minimized .xn-search input {
    width: 30px;
    padding: 0px 2px 0px 28px;
}
.x-navigation.x-navigation-minimized .xn-search input:focus {
    width: 200px;
    padding: 0px 8px 0px 28px;
}
.x-navigation.x-navigation-minimized.x-navigation-hover li:hover > ul {
    display: block;
    background: #273541;
    max-height: 1200px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    right: -220px;
}
.x-navigation.x-navigation-minimized.x-navigation-hover li:hover > ul:after {
    display: none;
}
.x-navigation.x-navigation-custom li ul {
    background: #2d3945;
}
.x-navigation.x-navigation-custom li > a {
    border-bottom: 0px;
}
.x-navigation.x-navigation-custom li > a:hover {
    background: #2b3742;
}
.x-navigation.x-navigation-custom li > a:hover .fa,
{
    color: #ffd559;
}
.x-navigation.x-navigation-custom li > a .fa,
{
    color: #DDD;
}
.x-navigation.x-navigation-custom li.active > a {
    background: #2b3742;
}
.x-navigation.x-navigation-custom li.active > a .fa,
{
    color: #ffd559;
}
.x-navigation.x-navigation-custom > li > a {
    padding: 12px 10px 12px 12px;
    border-bottom: 0px;
    font-size: 13px;
    color: #CCC;
    border-left: 3px solid transparent;
}
.x-navigation.x-navigation-custom > li > a:hover {
    color: #FFF;
    background: #374654;
}
.x-navigation.x-navigation-custom > li.active > a {
    color: #FFF;
    background: #374654;
    border-left: 3px solid #ffd559;
}
.x-navigation.x-navigation-custom > li.xn-openable:before {
    color: #CCC;
    top: 12px;
}
.x-navigation.x-navigation-custom > li.xn-title {
    border-bottom: 0px;
}
.x-navigation.x-navigation-custom > li.xn-logo > a {
    border-left: 0px;
}
.x-navigation.x-navigation-custom > li.xn-logo > a:hover {
    background-color: #e0401d;
}
.x-navigation.x-navigation-custom.x-navigation-minimized > li > a {
    padding: 15px 10px 15px 7px;
}
.x-navigation.x-navigation-custom.x-navigation-minimized > li.xn-profile > a {
    border-left: 0px;
    padding: 7px;
}

.x-navigation .xn-visible {
    display: none;
}
.x-navigation .x-navigation-control {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
}
.x-navigation .x-navigation-control:hover {
    background: #e0401d;
    border-bottom: 0px;
}
.x-navigation .x-navigation-control:before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f0c9";
    font-size: 14px;
    top: 14px;
    left: 20px;
    color: #FFF;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.x-navigation > li.xn-navigation-control {
    display: none;
    height: 50px;
    border-bottom: 1px solid #2f3c48;
}
.x-navigation > li.xn-navigation-control .x-navigation-control:hover {
    background: #273541;
}
.x-navigation > li.xn-logo > a {
    border-bottom: 0px;
}
.x-navigation > li.xn-logo > a:first-child {
    font-size: 0px;
    text-indent: -9999px;
    padding: 0px;
    border-bottom: 0px;
    color: #FFF;
    height: 40px;
    background: url("/styles/assets/images/solar-logos/solarpulse2.png");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 200px 60px;
    background-color: #156394;
}
.x-navigation > li.xn-logo > a:first-child:hover {
    background-color: #156394;
}

.x-navigation .informer {
    font-size: 11px;
    position: absolute;
    line-height: 16px;
    text-align: center;
    padding: 0px 4px;
    background: #BBB;
    right: 10px;
    top: 15px;
    color: #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.x-navigation .informer.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
.x-navigation .informer.informer-primary {
    background: #33414e;
}
.x-navigation .informer.informer-success {
    background: #95b75d;
}
.x-navigation .informer.informer-info {
    background: #3fbae4;
}
.x-navigation .informer.informer-warning {
    background: #fea223;
}
.x-navigation .informer.informer-danger {
    background: #b64645;
}
.x-navigation li li .informer {
    top: 12px;
}
.x-navigation .xn-icon-button .informer {
    left: auto;
    bottom: auto;
    right: 1px;
    top: 5px;
}
/* END X-NAVIGATION FEATURES */
/* END PROFILE */
/* PAGE CONTENT HEADER */

/* END PAGE CONTENT HEADER */
/* BLOCK */
.block {
    padding: 5px 10px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.block-full-width {
    padding: 0px;
    float: left;
    width: 100%;
    position: relative;
}
/* END BLOCK */
/* BREADCRUMB */
.breadcrumb {
    float: left;
    width: 100%;
    background: #DBE0E4;
    margin-bottom: 10px;
    padding: 6px 15px 7px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.breadcrumb li,
.breadcrumb li a {
    font-size: 11px;
    line-height: 12px;
    color: #79788A;
    text-decoration: none;
}
.breadcrumb li:hover,
.breadcrumb li a:hover {
    color: #79788A;
}
.breadcrumb li:last-child a{
    color: #68BA17;
}
.breadcrumb > li + li:before {
    font-family: "FontAwesome";
    content: "\f105";
    color: #99a0aa;
    padding: 0px 8px;
}
/* EOF BREADCRUMB */

@media only screen and (max-width: 900px) {
    .page-container .page-sidebar {
        position: relative;
        float: left;
        width: 100%;
    }
    .page-container .page-sidebar.scroll {
        position: relative;
    }
    .page-container .page-content {
        margin-left: 0px;
    }

    .page-container.page-navigation-toggled .page-content {
        margin-left: 0px;
    }
    .page-container.page-mode-rtl .page-content {
        margin-right: 0px;
    }
    .page-container.page-navigation-top-fixed .x-navigation.x-navigation-horizontal {
        padding-right: 0px;
        position: relative;
    }
    .page-container.page-navigation-top-fixed .page-content {
        padding-top: 0px;
    }
    .x-navigation {
        max-height: 50px;
        overflow: hidden;
        background: #DBE9F2;
    }
    .x-navigation.x-navigation-panel {
        height: 50px;
        max-height: auto;
        overflow: visible;
    }
    .x-navigation.x-navigation-panel li.xn-icon-button {
        width: 50px;
    }
    .x-navigation > li.xn-navigation-control {
        display: block;
    }
    .x-navigation.x-navigation-open {
        max-height: 1200px;
        overflow: visible;
    }
    .x-navigation.x-navigation-open > li.xn-profile {
        display: block;
    }
    .x-navigation .x-navigation-control {
        display: block;
    }
    .x-navigation-minimize {
        display: none !important;
    }
    .x-navigation-horizontal > li > ul ul,
    .x-navigation-horizontal > li > ul.xn-drop-left ul {
        position: relative;
        left: auto;
        right: auto;
        margin-left: 0px;
        margin-right: 0px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .x-navigation-horizontal > li > ul ul:after {
        display: none;
    }
    .x-navigation.x-navigation-horizontal .xn-search input:focus {
        width: 100px;
    }
    /* XNAV PANEL */
    .x-navigation li > .panel {
        width: 250px;
    }
    /* END XNAV PANEL */

}
/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_minimal,
    .iradio_minimal {
        background-image: url("../img/icheck/grey@2x.png");
        -webkit-background-size: 200px 20px;
        background-size: 200px 20px;
    }
    .ui-resizable-se {
        background-image: url("../img/jqyery/resize-icon@2x.png");
    }
    .x-navigation > li.xn-logo > a:first-child {
        /*background-image: url("../img/logo@2x.png");*/
        background-size: 220px 50px;
    }
    .x-navigation.x-navigation-minimized > li.xn-logo > a:first-child {
        background-image: url("../img/logo-small@2x.png");
        background-size: 50px 50px;
    }
    .login-container .login-box .login-logo {
        background-image: url("../img/logo@2x.png");
        background-size: 220px 50px;
    }
    .page-content-header .logo {
        background-image: url("../img/logo-grey-big@2x.png");
        background-size: 140px 50px;
    }
}
/*scrollbar*/
      ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
   border-radius: 14px;
        border-radius: 14px;
    border-left: 2px solid #f5f5f5;
    border-right: 2px solid #f5f5f5;
    background: #ccc;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 6px rgb(38, 164, 222);
    background-color: #0c9cfa;
    border-radius: 14px;
}

