<div class="form-control example-form" style="word-wrap: break-word">
  <div class="breadcrumb">
    <h4>Warranty Information</h4>
    <!--{{sites.length}}
    <button (click)="clickme($event)">sdfsdfsd</button>-->
    <span style="float: right; padding-left: 5%;">
      <a href="#"><mat-icon>edit</mat-icon></a>
      <a href="#"><mat-icon (click)="remove()">delete</mat-icon></a>
      <a href="#"><mat-icon (click)="onClickOnNew()">assignment</mat-icon></a>
    </span>
  </div>

  <div *ngIf="wd">
    <form class="example-form">
      <!--<div class="form-control">
        Site : <br>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="wd.site" name="site">
          <span *ngIf="wd.site">
            <mat-option *ngFor="let site of sites"
                        [value]="wd.site._id===site._id?wd.site:site">{{site.name}}</mat-option>
          </span>
            <span *ngIf="!wd.site">
            &lt;!&ndash;<mat-option>Select</mat-option>&ndash;&gt;
            <mat-option *ngFor="let site of sites" [value]="site">{{site.name}}</mat-option>
          </span>
          </mat-select>
        </mat-form-field>
      </div>-->
      <select *ngIf="wd.site" [(ngModel)]="wd.site" class="form-control" name="site">
        <option *ngFor="let site of sites" [ngValue]="wd.site._id===site._id?wd.site:site">{{site.name}}</option>
      </select>
      <select *ngIf="!wd.site" [(ngModel)]="wd.site" class="form-control" name="site">
        <option disabled hidden [value]="selectUndefinedOptionValue">Site</option>
        <option *ngFor="let site of sites" [ngValue]="site">{{site.name}}</option>
      </select>


      <!--<div class="form-control">
        Device name : <br>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="wd.device" name="deviceName">
          <span *ngIf="wd.device">
            <mat-option *ngFor="let device of devices" [value]="wd.device._id===device._id?wd.device:device">{{device.name}}</mat-option>
          </span>
            <span *ngIf="!wd.device">
            &lt;!&ndash;<mat-option>Select</mat-option>&ndash;&gt;
            <mat-option *ngFor="let device of devices" [value]="device">{{device.name}}</mat-option>
          </span>
          </mat-select>
        </mat-form-field>
      </div>-->
      <select *ngIf="wd.device" [(ngModel)]="wd.device" class="form-control" name="deviceName">
        <option *ngFor="let device of devices" [ngValue]="wd.device._id===device._id?wd.device:device">{{device.name}}
        </option>
      </select>
      <select *ngIf="!wd.device" [(ngModel)]="wd.device" class="form-control" name="deviceName">
        <option disabled hidden [value]="selectUndefinedOptionValue">Device Name</option>
        <option *ngFor="let device of devices" [ngValue]="device">{{device.name}}</option>
      </select>

      <!--<div class="form-control">
        Device ID : <br>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="wd.device" name="deviceID">
          <span *ngIf="wd.device">
            <mat-option *ngFor="let device of devices" [value]="wd.device._id===device._id?wd.device:device">{{device.ID}}</mat-option>
          </span>
            <span *ngIf="!wd.device">
            &lt;!&ndash;<mat-option>Select</mat-option>&ndash;&gt;
            <mat-option *ngFor="let device of devices" [value]="device">{{device.ID}}</mat-option>
          </span>
          </mat-select>
        </mat-form-field>
      </div>-->
      <select *ngIf="wd.device" [(ngModel)]="wd.device" class="form-control" name="deviceID">
        <option *ngFor="let device of devices" [ngValue]="wd.device._id===device._id?wd.device:device">{{device.ID}}
        </option>
      </select>
      <select *ngIf="!wd.device" [(ngModel)]="wd.device" class="form-control" name="deviceID">
        <option disabled hidden [value]="selectUndefinedOptionValue">Device ID</option>
        <option *ngFor="let device of devices" [ngValue]="device">{{device.ID}}</option>
      </select>

      <!--<div class="form-control">
        Vendor : <br>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="wd.vendor" name="vendor">
          <span *ngIf="wd.vendor">
            <mat-option *ngFor="let vendor of vendors" [value]="wd.vendor._id===vendor._id?wd.vendor:vendor">{{vendor.name}}</mat-option>
          </span>
            <span *ngIf="!wd.vendor">
            &lt;!&ndash;<mat-option>Select</mat-option>&ndash;&gt;
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor.name}}</mat-option>
          </span>
          </mat-select>
        </mat-form-field>
      </div>-->
      <select *ngIf="wd.vendor" [(ngModel)]="wd.vendor" class="form-control" name="vendor">
        <option *ngFor="let vendor of vendors" [ngValue]="wd.vendor._id===vendor._id?wd.vendor:vendor">{{vendor.name}}
        </option>
      </select>
      <select *ngIf="!wd.vendor" [(ngModel)]="wd.vendor" class="form-control" name="vendor">
        <option disabled hidden [value]="selectUndefinedOptionValue">Vendor</option>
        <option *ngFor="let vendor of vendors" [ngValue]="vendor">{{vendor.name}}</option>
      </select>

      <!--<div class="form-control">
        Warranty start date : <br>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker1" [(ngModel)]="wd.start_date" name="start_date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-control">
        Warranty end date : <br>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker2" [(ngModel)]="wd.end_date" name="end_date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>-->
      <div class="">
        <span class="field-heading">
          Warranty start date and end date :
        </span>
        <div class="" style="width: 50%; float: left; padding-right: 10px;">
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker1" [(ngModel)]="wd.start_date" name="start_date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="" style="width: 50%; float: left;">
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="wd.end_date" name="end_date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <!--<div class="form-control">
        AMC Contractor : <br>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="wd.contractor" name="contractor">
          <span *ngIf="wd.contractor">
            <mat-option *ngFor="let contractor of contractors"
                        [value]="wd.contractor._id===contractor._id?wd.contractor:contractor">{{contractor.name}}</mat-option>
          </span>
            <span *ngIf="!wd.contractor">
            &lt;!&ndash;<mat-option>Select</mat-option>&ndash;&gt;
            <mat-option *ngFor="let contractor of contractors" [value]="contractor">{{contractor.name}}</mat-option>
          </span>
          </mat-select>
        </mat-form-field>
      </div>-->
      <select *ngIf="wd.contractor" [(ngModel)]="wd.contractor" class="form-control" name="contractor">
        <option *ngFor="let contractor of contractors"
                [ngValue]="wd.contractor._id===contractor._id?wd.contractor:contractor">{{contractor.name}}
        </option>
      </select>
      <select *ngIf="!wd.contractor" [(ngModel)]="wd.contractor" class="form-control" name="contractor">
        <option disabled hidden [value]="selectUndefinedOptionValue">AMC Contractor</option>
        <option *ngFor="let contractor of contractors" [ngValue]="contractor">{{contractor.name}}</option>
      </select>

      <div class="form-control">
        <div class="breadcrumb">AMC Details</div>
        <ul>
          <li>
            <span class="field-heading">
              AMC Cost: INR. &nbsp; &nbsp; &nbsp;
            </span>
            <mat-form-field class="">
              <input matInput type="text" [(ngModel)]="wd.cost" name="cost">
            </mat-form-field>
          </li>
          <li>
            <span class="field-heading">
              AMC Duration: &nbsp; &nbsp; &nbsp;
            </span>
            From {{wd.start_date | date: 'MM/dd/yyyy'}} to {{wd.end_date | date: 'MM/dd/yyyy'}}
          </li>
        </ul>
      </div>
      <div class="form-control">
        <div class="breadcrumb">Uploaded files</div>
        <span *ngFor="let doc of wd.documents">
          {{doc.original_name}}
          <a href="{{apiUrl}}downloadDocs/{{doc._id}}" target="_blank"><mat-icon>get_apps</mat-icon></a>
          <a href="#"><mat-icon (click)="removeDocument(doc._id)">delete</mat-icon></a>
          <br></span>

        <div class="breadcrumb">Upload files</div>
        <div>
          <ul id="file_names">

          </ul>
        </div>

        <input type="file" id="files" class="form-control" name="files" (change)="onDocChange($event)" multiple>
        <!--<input type="file" name="files" (change)="onDocChange($event)">-->
      </div>
      <div class="form-control">
        Automatic warranty renewal : <br>
        <mat-radio-group class="example-radio-group" [(ngModel)]="wd.auto_renewal" name="auto_renewal">
          <mat-radio-button class="example-radio-button" [value]="true">
            On
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Off
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <!--<div class="form-control">
        Reminder date : <br>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" [(ngModel)]="wd.reminder_date" name="reminder_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>-->
      <div class="">
        <span class="field-heading">Reminder date :</span>
        <mat-form-field class="">
          <input matInput [matDatepicker]="picker" [(ngModel)]="wd.reminder_date" name="reminder_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!--<div class="form-control">
        Send to : <br>
        <mat-form-field class="example-full-width">
          <mat-select [(ngModel)]="wd.customer" name="customerName">
          <span *ngIf="wd.customer">
            <mat-option *ngFor="let customer of customers"
                        [value]="wd.customer._id===customer._id?wd.customer:customer">{{customer.name}}</mat-option>
          </span>
            <span *ngIf="!wd.customer">
            &lt;!&ndash;<mat-option>Select</mat-option>&ndash;&gt;
            <mat-option *ngFor="let customer of customers" [value]="customer">{{customer.name}}</mat-option>
          </span>
          </mat-select>
        </mat-form-field>
      </div>-->
      <select *ngIf="wd.customer" [(ngModel)]="wd.customer" class="form-control" name="customerName">
        <option *ngFor="let customer of customers" [ngValue]="wd.customer._id===customer._id?wd.customer:customer">
          {{customer.name}}
        </option>
      </select>
      <select *ngIf="!wd.customer" [(ngModel)]="wd.customer" class="form-control" name="customerName">
        <option disabled hidden [value]="selectUndefinedOptionValue">Send to</option>
        <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
      </select>

      <div class="">
        <div style="width: 30%; float: left;">
          <span class="field-heading">Send Via :</span>
        </div>
        <div style="width: 70%; float: left;">
          <section class="example-section">
            <mat-checkbox *ngIf="sendViaAll" class="example-margin" [(ngModel)]="sendViaAll[0].isSelected"
                          name="sendVia0"
                          (click)="onSelectSendVia()">
              {{sendViaAll[0].send_via}}
            </mat-checkbox>
            <mat-checkbox *ngIf="sendViaAll" class="example-margin" [(ngModel)]="sendViaAll[1].isSelected"
                          name="sendVia1"
                          (click)="onSelectSendVia()">
              {{sendViaAll[1].send_via}}
            </mat-checkbox>
          </section>
        </div>
      </div>
      <input type="button" class="form-control btn-dark" [value]="toInsert?'Save':'Update & Save'"
             (click)="updateOrInsertWarrantyInfo()">
    </form>
  </div>
</div>
