<div style="float: left; width: 70%;">
<div class="form-control">
  <div style="width: 100%">
    <form style="float: left; width: 34%">
      <mat-form-field>
        <mat-select placeholder="Select Site" [(ngModel)]="selectedSite" name="site">
          <mat-option>Select</mat-option>
          <mat-option *ngFor="let site of sites" [value]="site" (click)="onSiteSelect(site)">
            {{site.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form *ngIf="selectedSite" style="float: left; width: 33%">
      <mat-form-field>
        <mat-select placeholder="Select Type" [(ngModel)]="selectedType" name="type">
          <mat-option>Select</mat-option>
          <mat-option *ngFor="let tp of types" [value]="tp" (click)="onTypeSelect(tp)">
            {{tp.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form *ngIf="selectedType && selectedSite" style="float: left; width: 33%">
        <mat-form-field *ngIf="selectedType._id === '1'">
        <mat-select placeholder="Select" [(ngModel)]="selectedDevice" name="device">
          <mat-option>Select</mat-option>
          <mat-option *ngFor="let device of devices" [value]="device" (click)="onDeviceSelect(device)">
            {{device.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field *ngIf="selectedType._id === '2'">
          <mat-select placeholder="Select" [(ngModel)]="selectedDevice" name="device">
            <mat-option>Select</mat-option>
            <mat-option *ngFor="let device of devices" [value]="device" (click)="onDeviceSelect(device)">
              {{device.ID}}
            </mat-option>
          </mat-select>
      </mat-form-field>
        <mat-form-field *ngIf="selectedType._id === '3'">
          <mat-select placeholder="Select" [(ngModel)]="selectedVendor" name="vendor">
            <mat-option>Select</mat-option>
            <mat-option *ngFor="let vendor of vendors" [value]="vendor" (click)="onVendorSelect(vendor)">
              {{vendor.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
        <mat-form-field *ngIf="selectedType._id === '4'">
          <mat-select placeholder="Select" [(ngModel)]="selectedContractor" name="contractor">
            <mat-option>Select</mat-option>
            <mat-option *ngFor="let contractor of contractors" [value]="contractor" (click)="onContractorSelect(contractor)">
              {{contractor.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </form>


  </div>

<!--<mat-form-field>
  <mat-select placeholder="Site name" [(ngModel)]="siteSelection" multiple>
    <mat-select-trigger>
      {{siteSelection[0] ? siteSelection[0].name : ''}}
      <span *ngIf="siteSelection?.length > 1" class="example-additional-selection">
         (+{{siteSelection.length - 1}} others)
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let site of sites" [value]="site">{{site.name}}</mat-option>
  </mat-select>
</mat-form-field>-->


<div class="example-container mat-elevation-z8" style="width: 100%;">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="device_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Device name </mat-header-cell>
      <a routerLink="/warranty-info/1">
      <mat-cell *matCellDef="let element"> {{element.device.name}} </mat-cell>
      </a>
    </ng-container>

    <ng-container matColumnDef="device_ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Device ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.device.ID}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="vendor">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Vendor name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.vendor.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Warranty starts </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.start_date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="end_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Warranty ends </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.end_date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contractor">
      <mat-header-cell *matHeaderCellDef mat-sort-header> AMC Contractor </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.contractor.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="file_path">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded doc path </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.file_path}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reminder_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Reminder </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.reminder_date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="onWarrantySelect(element)">
        <!--<a routerLink="/warranty-info/{{element._id}}">Select</a>-->
        <!--<a [routerLink]="['/', { outlets: { 'abc': 'warranty-info/'+element._id } }]" replaceUrl="true">Select</a>-->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
    <mat-row *matRowDef="let element; columns: displayedColumns;"
            [ngClass]="{'highlight':element === selectedWD}"
            (click)="onWarrantySelect(element)">
    </mat-row>
  </mat-table>
</div>
</div>
</div>


<div style="float: right; width: 30%;">
  <app-warranty-information *ngIf="selectedWD" [id]="selectedWD._id"></app-warranty-information>
</div>
