<div style="float: left; width: 50%; margin-top: 10px;" class="form-control">
  <ul>
    <h2>Contractors</h2>
    <a href="#/contractor">
      <li *ngFor="let obj of obj_all"
          [class.selected]="obj === selectedObj">
        <span class="badge" (click)="onSelect(obj)"> {{obj.name}} </span>
        <mat-icon (click)="remove(obj._id)">delete</mat-icon>
      </li>
    </a>
  </ul>

  <div *ngIf="selectedObj" class="form-control" style="height: 100px;">
    <h2>Edit</h2>
    <div style="width: 100%;">
      <div style="width: 60%; float: left;">
        <input [(ngModel)]="selectedObj.name" class="form-control" placeholder="Name">
      </div>
      <div style="width: 40%; float: right;">
        <input type="button" value="Submit" class="form-control btn-dark" (click)="update()">
      </div>
    </div>
  </div>
</div>

<div style="float: right !important; width: 50%; margin-top: 10px;">
  <div *ngIf="selectedObj" class="form-control">
    <h2>{{ selectedObj.name | uppercase }} Details</h2>
    <div><span>Id: </span>{{selectedObj._id}}</div>
    <div><span>Name: </span>{{selectedObj.name}}</div>
  </div>

  <div class="form-control" style="height: 100px;">
    <h2>Add</h2>
    <div style="width: 100%;">
      <div style="width: 60%; float: left;">
        <input class="form-control" [(ngModel)]="obj.name" placeholder="Name">
      </div>
      <div style="width: 40%; float: right;">
        <input type="button" value="Submit" class="form-control btn-dark" (click)="insert()">
      </div>
    </div>
  </div>
</div>
